<ion-header>
  <ion-navbar>
    <ion-title>
      My movie data base
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-searchbar
  (ionInput)="getElements($event)"
  >
  </ion-searchbar>
  <ion-list>   
      <ion-item *ngIf = "resultat.length == 0">Aucun résultat</ion-item>
      <ion-item *ngFor="let result of resultat">
          <ion-thumbnail item-start >
            <img [src]="result.image">
          </ion-thumbnail>
          <h2>{{result.title}}</h2>
          <p>{{result.author}} • {{result.date}}</p>
          <button ion-button clear item-end (click)="goToDetails(result)">View</button>
        </ion-item> 
  </ion-list>
</ion-content>
